services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file: .env
    environment:
      - MONGO_URI=mongodb://mongodb:27017/idea_generator
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
